body{
    margin: 0;
    padding: 0;
}
.main{
display: flex;
justify-content: center;
align-items: center;
height: 100vh;

}

.box{
    height: 200px;
    width: 200px;
    background-color: rgb(156, 92, 92);
    display: flex;
    align-items: end;
    justify-content: center;
    border-radius: 20% 0% 20% 20%;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .13), 0 1px 1px 0 rgba(0, 0, 0, .11);
}
button{
    position: relative;
    right: 59px;
    height: 50px;
    width: 100px;
    border-radius: 10px;
    /* background-color: rgb(98, 209, 240); */
    border: none;
    bottom: 4px;
    box-shadow: -5px 4px 7px 0px;
    font-size: larger;
    font-family: 'Times New Roman', Times, serif;


}
h1{
    color: rgb(0, 0, 0);
    position: relative;
    bottom: 30px;
    left: 47px;

}
